
/* The dots/bullets/indicators */
.local {display: none;}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.img-local {
  width: 400px;
  height: 293px;
  align-content: center;
}

.slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  max-width: 400px;
}
